<li>
  <div>
    Comment ID: <%= comment.author_id %>
    <%= @users.find(id: comment.author_id).name %> 
  </div> 
  <div class='content'>
    <%= comment.body %> 
    <small class='timestamp'>Posted <%= time_ago_in_words(comment.created_at) %> ago</small>
  </div>
</li>