@import 'bootstrap';

$grayLight: #e8e8e8;

/* universal */

.center { 
  text-align: center;
}

body {
  margin-top: 60px;
}

ul { 
  list-style: none;
}

/* forms */

#submit-block {
  width: 105%;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error-explanation {
  color: #f00;
  ul {
    list-style: disc;
  }
}

/* mixins */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.comments {
  list-style: none;

  li {
    padding: 10px 0px 10px 0px;
    border-top: 1px solid $grayLight;
  }
}

.timestamp {
  float: right;
}