<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='navbar-inner'>
    <div class='container'>
      <%# link_to 'Help Center', root_url %> 
      <nav>
        <ul class='nav pull-right'>
          <li><%= link_to 'Tickets', tickets_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>